{{> head  }}

{{> navbar  }}

<div class="row">

    <div class="col-8">
    <h1> Tiburonsin  </h1>
    <p></p>
    </div>

    <div class="col-4">
        <img src=" assets/img/tiburon.png" class="img-thumbnail" alt="">
    </div>

</div>


{{> footer  }}